table {
    font-family: 'Roboto', sans-serif;
    width: 95%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 1px;
    text-align: center;
}

th {
    background-color: rgb(70, 20, 238);
}

.completion {
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
}

.progress {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 4px;
    margin: 10px 0;
}
.bold {
    font-weight: bold;
}

/* Image Grid Styles */
.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 20px 0;
}

.image-grid img {
    width: 100%;
    height: auto;
}
