@page {
    size: A4; 
    margin: 1cm; 
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%; 
    padding-top: 20px; 
    padding-left: 10mm;
    padding-right: 10mm; 
    margin: 0 auto;
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    width: 200px; 
    height: auto;
    margin: 0 10px; 
}

h1 {
    font-size: 24px; 
    font-weight: bold;
    margin: 30px 0;
}

.details {
    text-align: left; 
    margin: 20px 0;
}

.details p {
    font-size: 14px;
    margin: 5px 0;
}

.front-page {
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: block;
   
}
